.contenedor-imagenes {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 400px; /* Ajusta el ancho del contenedor */
}

#formulario {
    position: relative;
    top: 50;
    z-index: 2; /* Asegura que el formulario esté sobre el cuadro de fondo */
  }


/*Cuadro de fondo de las imagenes*/
.color-background {
    position: absolute;
    top: 240;
    left: 540;
    width: 20%;
    height: 60%;
    background-color: #918f8f;
    z-index: 0; 
    opacity: 0.4;
  }

.imagen {
    width: 50px; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantiene la proporción de la imagen */
    top: 90px;
}

/*Imagen inicial de la cuenta larga, este permanece igual para todas las cuentas*/
.imagen-Inicial {
    width: 110px;
    height: 110px;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    position: relative;
    top: 30px;
}

/*Simbolo de baktun, tambien permanece igual*/
.imagen-baktun {
    grid-column: 1;
    grid-row: 2;
    z-index: 2;
    position: relative;
    top: 20px;
}

/*Simbolo de katun, tambien permanece igual*/
.imagen-katun {
    grid-column: 2;
    grid-row: 2;
    z-index: 2;
    position: relative;
    top: 20px;
}

/*Simbolo de tun, tambien permanece igual*/
.imagen-tun {
    grid-column: 1;
    grid-row: 3;
    z-index: 2;
    position: relative;
    top: 20px;
}

/*Simbolo de uinal, tambien permanece igual*/
.imagen-uinal {
    grid-column: 2;
    grid-row: 3;
    z-index: 2;
    position: relative;
    top: 20px;
}

/*Simbolo de kin, tambien permanece igual*/
.imagen-kin {
    grid-column: 1;
    grid-row: 4;
    z-index: 2;
    position: relative;
    top: 20px;
}

/*imagen numeros para la cuenta larga, estos si cambian dependiendo de la fecha (Metodo para cambiar en cuentaLarga_grafica.php)*/
.numero {
    position: absolute;
    width: 30px;
    top: 0;
    left: 0;
    display: block;
}

/*Resultado escrito de la cuenta larga (Metodo en cuentaLarga_grafica.php)*/
.resultado-cuenta-larga {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 550;
    left: 600; /* Ajusta la posición lateral */
    transform: translateX(100%);
}